.insta-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.insta-post {
  flex: 1 1 300px;
  max-width: 330px;
}

.avatar {
  width: 150px;  /* or your desired size */
  height: 150px;
  image-rendering: auto;
}

@media (max-width: 640px) {
  .prose, .bio-text, .wc-block {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .portrait-title {
    text-align: center;
  }

  .network-icon {
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
  }
}